html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body, main {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;

}

:root{
    --primary-color: #010d44;
    --secondary-color: #253fb3;
    --text-color: #ffffff;
    --background-color: #f4f5fa;
}

/* Header e navegação */
.header nav ul {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    gap: 20px;
    margin: 0;
    background: #ffffff;
}
.header nav ul li a {
    margin: 0 10px;
    text-decoration: none;
    color: #253fb3;
    padding: 10px;
    padding-bottom: 2px;
    font-size: 20px;
    transition: border-bottom 0.2s;
}
.header nav ul li a:hover {
    text-decoration: none;
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 8px;
}


.fundo {
    background-image: linear-gradient(180deg, #253fb3 80%, #ffffff 100%);
    padding: 20px;
    
}
.fundo_2 {
    background-image: linear-gradient(180deg, #ffffff 60%, #253fb3 100%);
    padding: 20px;
    width: 100%;
}
.fundo_2 h1 {
    font-size: 40px;
    margin-bottom: 80px;
    text-align: center;
    color: black;
    padding-top: 50px;
    margin-top: 0;
    
}

/* Sumário */
.sumary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 24px;
}
.sumary-text h2 {
    font-size: 80px;
    margin-bottom: 8px;
    color: white;
    text-align: left;
    margin-left: 30px;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}
.sumary-text p {
    font-size: 20px;
    margin: 40px 30px 0 30px;
    line-height: 1.6;
    color: white;
    text-align: left;
}

/* Imagens */
.sumary img {
    width: 100%;
    height: 550px;
    max-width: 400px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
    padding: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    border: 4px solid #ffffff; /* Borda branca */  
    box-sizing: border-box; /* Inclui a borda no cálculo do tamanho */  
    max-height: 550px; /* Garante que a imagem não ultrapasse 550px de altura */
    margin-top: 50px; /* Espaçamento superior */
}
.sumary img:hover {
    transform: scale(1.05);
}
.box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centraliza as imagens */
    gap: 100px; /* Espaçamento entre as imagens */
    margin-bottom: 60px; /* Espaçamento inferior */
    padding: 0 20px; /* Espaçamento lateral */
    
}

.box-imagem {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background-color: #010d44;
    border-radius: 12px;
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    text-align: center;
    width: 50%;
    height: 400px; /* Altura fixa para as caixas */
    min-width: 220px; /* Garante que as caixas não fiquem muito pequenas */
    transition: transform 0.3s ease-in-out; /* Transição suave */
}
.box-imagem:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    transition: transform 0.3s ease-in-out; /* Transição suave */
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1); /* Sombra ao passar o mouse */
}
.box-imagem h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
    color: white;
    padding: 0 16px; /* Espaçamento interno */
}
.box-imagem img {
    width: 100%;
    height: 230px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    margin: 0;
    display: block;

}
.box-imagem p {
    padding: 0 16px 0px 16px;  /* Espaçamento interno */ 
    margin: 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    color: white;
    
}
.articles-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    padding: 80px 16px; 
    width: 100%;
    margin: 0 auto 0px auto;
    gap: 32px;
    max-width: 1200px;
    

}

.articles-content article:hover{
    transform: scale(1.02);
    transition: transform 0.3s;
}
.article1:hover, .article2:hover, .article3:hover{
    transform: scale(1.06);
    transition: transform 0.3s;
    

}
.articles-content h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    margin-top: 0;
    overflow: hidden;
    width: 90%;
}
.articles-content p{
    font-size: 20px;
    line-height: 1.6;
    


}
.article1, .article2, .article3 {
    background-color: #f4f5fa;
    border-radius: 12px;
    padding: 20px;
    margin: 0;
    margin-bottom: 0px; /* margem inferior menor */
    width: 300px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: #010d44;
    
}
.article1, .article2, .article3, article h3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-container{
    background-image: linear-gradient(180deg, #253fb3 40%, #ffffff 100%);
    width: 100%;
    margin: 0;
    padding: 0;
    
}
.feedback-clientes .content {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    width: 80%;
}
.feedback-clientes h2{
    margin: 100px 0 50px 0;
}
.content_1, .content_2, .content_3, .content_4 {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    width: 80%;
    cursor: pointer;
}
.feedback-clientes {
    background-image: linear-gradient(180deg, #ffffff 10%, #253fb3 100%,);
    padding: 20px 0 50px 0; /* padding superior menor, inferior mantido */
    text-align: center;
    font-size: 25px;
    color: #253fb3;
    
}
.feedback-clientes .content_1:hover, .content_2:hover, .content_3:hover, .content_4:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
}
.dicas{
    background-image: linear-gradient(180deg, #ffffff 10%, #253fb3 100%);
    margin-top: 100px;
    
}
.dicas .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 0;
    width: 30%;
    padding: 40px;
}
.dicas ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 16px;

}
.dicas h2 {
    font-size: 40px;
    margin-left: 30px;
    color: #010d44;
    
}
.dicas ol li {
    background: #f4f5fa;
    padding: 10px;
    width: 80%;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    line-height: 1.6;
}




blockquote {
    background: #e0e0e0;
    padding: 0px;
    border-left: 4px solid #253fb3;
    margin: 20px 0;
    font-style: italic;
    color: #333;
    border-radius: 8px;
    width: 70%;
}
blockquote p {
    margin: 0;
    padding: 16px;
    font-size: 18px;
    line-height: 1.6;
}
blockquote .content{
    display: flex;
    align-items: center;
    gap: 16px;
    
}


blockquote img {
    max-width: 120px;
    height: 120px;
    border-radius: 100%;
    margin: 15px;
    object-fit: cover;
    display: block;
}

/* Títulos */
.content h1 {
    font-size: 60px;
    margin-bottom: 8px;
    text-align: center;
}
.content h2 {
    font-size: 40px;
    margin-bottom: 8px;
    text-align: center;
}

/* Para todos os títulos */
h1, h2, h3 {
    font-family: "roboto", sans-serif;
}

/* Responsividade */
@media (max-width: 900px) { 
    .sumary {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }
    .sumary img {
        max-width: 100%;
        height: 200px;
    }
    .box-imagem img {
        height: 140px;
    }
    blockquote img {
        max-width: 80px;
        height: 80px;
    }
    .aside-flex {
        flex-direction: column;
        align-items: stretch;
    }
    aside iframe {
        max-width: 100%;
        height: 500px;
    }
}

/* Outros elementos */
.aside-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    padding: 40px 16px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 32px;
}
.aside-info{
    flex: 1;
    text-align: center;
    font-size: 15px;
}
aside iframe {
    flex: 1;
    max-width: 100%;
    height: 300px;
    width: 100%;
    margin: 0;
    display: block;
}
footer {
    text-align: center;
    padding: 16px 0;
    background: #f0f0f0;
    margin-top: 32px;
}

summary::-webkit-details-marker {
    font-size: 1.5em; /* aumenta a seta no Chrome/Safari */
    color: #010d44; /* cor da seta */
}

summary::marker {
    font-size: 1.5rem; /* aumenta a seta no Firefox e outros */
    color: #010d44; /* cor da seta */
}

