html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

body, main {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: var(--fourten-color);
 }

:root{
    --primary-color: #e1b239;
    --secondary-color: #1b2232;
    --third-color: #8d1818;
    --fourten-color: #000000;
    --text-color: #ffffff;
    --background-color: #f4f5fa;
}

.header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    background-color: #e1b239;
    padding: 20px;
    gap: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header nav ul li a {
    margin-right: 50px;
    text-decoration: none;
    color: var(--fourten-color);
    font-size: 20px;
    transition: border-bottom 0.2s;
    color: var(--text-color);
    
}
.header nav ul li a:hover {
    color: var(--third-color);
    
    border-bottom: #8d1818 solid 1px;

}
.main{
    padding: 20px;
    text-align: center;
    color: var(--text-color);
}
.main h1{
    font-size: 200px;
    width: 100%;
    height: 40vh;
    color: var(--primary-color);    
    font-family: fantasy;
    margin-top: 150px;
}
.main h2{
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
}
.main p{
    font-size: 20px;
    text-align: justify;
    margin: 0 200px;
    line-height: 1.5;
}


