html,body {
    height: 100%;
}


body{
    background-color: rgb(13, 14, 14);
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.main-title {
    color: #385555;
    margin-bottom: 10px;
    text-decoration: underline;
    color: white;
}

.list-wrapper{
    
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgb(255, 250, 250);
    list-style-type: none;
    border: solid 5px black;
    
    
}
.list{
    list-style-type: none;
    padding: 0;
    margin-right: 0;
    margin-top: 0;
    
}
.list-item {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

.list-item__email {
    color: #385555;
    margin-left: 20px;
    font-size: 14px;
    margin-top: 0px;
    flex-grow: 2;
     
    
}

.list-item__name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
}
.list-item-image img{
        border-radius: 40%; /* Torna a imagem circular */
        width: 100px; /* Define a largura da imagem */
        height: 100px; /* Define a altura da imagem */
        object-fit: cover; /* Garante que a imagem se ajuste ao contêiner sem distorção */   
}
.list-item__action {
    margin-left: 80%;
    display: flex;
    margin-top: 0px;
    gap: 10px;
    align-items: center;
    opacity: 0.3;
    display: none; /* Esconde as ações inicialmente */
    
    
    
    
    
    
}
.list-item__action a{
    font-size: 10px;
    
    
}
.list-item__content{
    padding: 0;
    flex-grow: 1;
    
}
.list-item:hover{
    background-color: #c9bfbf; /* Cor de fundo ao passar o mouse */
}
.list-item:hover .list-item__action {
    display: flex;
   
    
}